@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
	background-image: url(./assets/images/background.png);
	background-attachment: fixed;
	background-size: cover;
}

.App {
	margin-top: 2%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	color: white;
}

.ServerContainer {
	margin-top: 2%;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.ServerInformation {
	width: 300px;
	flex-direction: column;
	margin-bottom: 5%;
}

.ServerInfoContainer {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Server {
	width: 300px;
	height: 350px;
	border-radius: 10% 10% 2% 2%;
	border: solid 1px rgba(54, 71, 85, 0.349);
	display: flex;
	flex-direction: column;
	color: rgb(210, 224, 230);
}

.Server h3 {
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.ServerName {
	color: #eee;
	letter-spacing: 3px;
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.ServerName img {
	margin-left: 1%;
}

.ServerInfoLogo {
	margin-bottom: 2%;
	width: 50%;
}

.ServerName {
	text-align: center;
	padding-bottom: 2%;
}

.ServerContent {
	margin-left: 5%;
	margin-top: 2%;
}

.OnlineColor {
	background: repeating-linear-gradient(to right, #458945, #38d438);
    -webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1800% 1800%;
    animation: rainbow 1s ease-out infinite;
}

.OfflineColor {
	color: rgb(105, 16, 16);
}

a {
	width: 280px;
	height: 50px;
	background: repeating-linear-gradient(to right, rgba(194, 194, 51, 0.311), rgba(194, 194, 51, 0.631), rgb(194, 194, 51));
	/* background: repeating-linear-gradient(to right, rgba(54, 71, 85, 0.545), rgba(54, 71, 85, 0.841), rgb(24, 53, 118)); */
	animation: rainbow 4s ease-out infinite;
	background-size: 1800% 1800%;
	border-radius: 10% 10% 5% 5%;
	margin-top: 5%;
	border: solid 1px #fbe2032f;
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
}

a h3 {
	background: repeating-linear-gradient(to right, #193419, #253113, #0a2c36);
    -webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1800% 1800%;
    animation: rainbow 4s ease-out infinite;
}

.ServerButton {
	width: 300px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes rainbow {
	0% {
		background-position: 0% 82%;
	}
	50% {
		background-position: 100% 19%;
	}
	100% {
		background-position: 0% 82%;
	}
}

@media screen and (max-width: 600px) {
	.ServerInformation {
		margin-top: 10%;
	}
}